.card-dash{
    width: 200px;
    background: hsla(0, 0%, 100%, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 8px;
    
}
