.product{
    padding-top: 2px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.title-product{
    background: var(--foreground);
    color: var(--background);
    width: 40%;
    text-align: center;
    padding: 5px;
    border-radius: 0 0 10px 10px ;
    margin-bottom: 10px;
}
